# ignorer les fichiers de configuration et les fichiers générés pour un projet java.
**/*.class
**/bin/
**/target/
**/tmp/*
**/.project
**/.classpath
**/workspace
**/.metadata
**/.settings
**/.checkstyle

# ignorer les fichiers générés par latex et quelques éditeurs standarts
**/*~
**/*.aux
**/*.log
**/*.thm
**/*.toc
**/*.iml
**/*.idea
**/*.eps
**/*.bbl
**/*.blg
**/*.nav
**/*.snm
**/*.isty
**/*.dvi
**/*.date
**/toc_*.tex
**/*.out
**/*.idx
**/*.ilg
**/*.ind
**/*.vrb
**/*.tmp
**/*.glg
**/*.glo
**/*.gls
**/*.ist
**/*.bak
**/#*#
